<div class="header chat-list-header">
  <div class="avatar" (click)="showAvatarClicked()">
      <img class="avatar" src="https://robohash.org/quisetnam.jpg?size=50x50&set=set1"/>
  </div>
  <div class="header-options">
    <mat-icon>menu</mat-icon>
  </div>
</div>
<div class="chat-list">
  <div *ngFor="let msg of msgs">
    <app-single-chat class="chat" [chat]="msg" (changeChatWindow)='onChangeChatWindow(msg)' (showContactProfile)="contactAvatarClicked($event)"></app-single-chat>
  </div>
</div>