<div class="header chat-window-header">
  <app-single-chat [chat]="chatWindowHeaderData" class="header-chat"></app-single-chat>
  <div class="header-options" (click)="btnOptionsClicked()">
    <mat-icon>menu</mat-icon>
  </div>
</div>


<div #chatContainer class="chat-message-container">
  <div *ngFor="let chatHistory of chatHistoryData.chatHistory">
    <app-simple-msg [isSent]="chatHistory.sent" [message]="chatHistory.msgText"></app-simple-msg>
  </div>
</div>

<div class="chatMessageBox">
  <mat-icon  class="grey-icon smiley">home</mat-icon>
  <div class="chatMessageInput">
    <input #newMessageInput matInput [(ngModel)]="newMsgText" 
    [ngClass]="{'gray-text': showPlaceholder}" 
    (focus)="removePlaceholder()" (keydown)="removePlaceholder()"
      (blur)="viewPlaceholder()" (keyup)="viewPlaceholder($event)">
  </div>
  <mat-icon (click)="sendMessage(newMessageInput)"  class="grey-icon sendButton">arrow_right</mat-icon>
</div>