<mat-card class="wrapper">
  <div class="app-container">
    <app-chat-list class="chat-list-container"
               (showContactProfile)="isContactProfileActive = true"
               (showUserProfile)="isUserProfileActive = true"
               (showChatWindow)="changeChatWindow($event)"></app-chat-list>
    <app-user-profile class="user-profile-container"
                  (closeUserProfile)="isUserProfileActive = false"
                  [class.active]="isUserProfileActive"></app-user-profile>
    <div class="chat-window">
      <app-chat-window [msg]="message" class="chat-window-container"
                   (showOptions)="isContactProfileActive = !isContactProfileActive"></app-chat-window>
      <app-contact-profile class="contact-profile-container"
                       (closeContactProfile)="isContactProfileActive = false"
                       [class.active]="isContactProfileActive"></app-contact-profile>
    </div>
  </div>
</mat-card>
